# Ignore all dotfiles except git dotfiles
.*
!.git*

# Binaries and build targets
*.a
*.so
*.dylib
*.dll
/build
/dep
/dist
src/Poly008.cpp
src/twiN.cpp
res/Poly008.svg
res/twiN.svg
src/Drift13.cpp.backup_sustain
scripts/
src/Clang.cpp
res/Clang.svg
