# Ignore all dotfiles except git dotfiles
.*
!.git*

# Binaries and build targets
*.a
*.so
*.dylib
*.dll
/build
/dep
/dist
src/Poly008.cpp
src/Twin.cpp
res/Poly008.svg
res/Twin.svg
src/Drift13.cpp.backup_sustain
scripts/
src/Shortwave.cpp
res/Shortwave.svg
src/Void.cpp
res/Void.svg
src/Swell.cpp
res/Swell.svg
